<footer class="footer">

  <img src="../images/logo.svg" alt="Logo de la boutique">
  <p>123 Rue des Fauvettes 75001 Hauts-de-Cloques</p>

</footer>


<script src="../js/menuBurger.js"></script>

</body>

</html>